@charset "UTF-";

.bg-image-preto{
	background-image: url(../assets/img/fundopreto.svg);
	background-repeat: repeat;
	background-size: 0.5vw;
	background-position: right;
}
.bg-image-secondary{
	background-image: url(../assets/img/fundosecondary.svg);
	background-repeat: repeat;
	background-size: 0.4vw;
	background-position: right;
}
header{
	border-bottom: solid 3px rgba(3, 3, 3, 0.3);
}
.carousel-item{
	height: 20rem;
	background: rgba(248, 240, 175);
	color: rgb(0, 41, 48);
	position: relative;
	background-position: center;
	background-size: cover;
}
.carousel-itemDF{
	height: 32rem;
	background: rgba(0, 41, 48);
	color: rgb(248, 240, 175);
}
.carousel-itemFH{
	height: 32rem;
	background: rgba(0, 41, 48);
	color: rgb(248, 240, 175);
}
.carousel-itemFV{
	height: 42rem;
	background: rgba(0, 41, 48);
	color: rgb(248, 240, 175);
}
.container{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-bottom: 50px;
}
.overlay-image{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background-position: center;
	background-size: cover;
	opacity: 0.5;
}
#primeira{
	padding-bottom: 2px;
}
.titulosublinhado{
	border-bottom: solid 3px rgb(248, 240, 175, 0.3);
}
#terceira{
	background-color: white;
}
.colunaEsquerda{
	width: 80vw;
	display: block;
}
.colunaDireita{
	background-color: white;
	display: block;
	position: right;
	width: 10vw;
	height: auto;
	background-image: url(../assets/img/logoAEALcores.png);
	background-repeat: repeat-y;
	background-size: contain;
	background-position: top;
}
.conjuntoPrincipal{
	display: flex;
	font-size: 0.9rem;
}
.paragfinal{
	display: inline-block;
	margin-bottom: 0;
	padding-bottom: 5px;
	justify-content: space-between;
	width: 100%;
	font-size: 0.9rem;
}
.paragfinal span{
	padding: 0 0;
}
.secundaria{
	color: white;
}
.secundaria h3{
	color: rgb(248, 240, 175);
}
#contato{
	background-image: url(../assets/img/fundosecondary.svg);
	background-repeat: repeat;
	background-size: 0.2vw;
	background-position: right;
}
#contato a{
	text-decoration: none;
	color: aquamarine;
}
#contato span{
	margin-bottom: 1px;
}
.contatos{
	min-width: 125px;
}
#desde1952{
	text-align: center;
	font-size: small;
}
footer{
	width: 100vw;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}
footer img {
	margin: 15px;
}
